:root {
    --color-active: #4f46e5;
    --color-process: #6366f1;
    --color-finished: #334155;
    --bg-color-primary: #1e293b;
    --bg-color-secondary: #0f172a;
    --padding-1: 2rem;
    --padding-2: 1rem;
    --padding-3: .5rem;
    --padding-4: .3rem;
    --border-radius-1: .5rem;
    --border-radius-2: .3rem;
    --transition-btn: all .5s ease;
    --opacity-hover: .5;
}

/* helpers */
.div-center {
    display: flex;
    justify-content: center;
}

/* Apply-Jobs */

.success-apply {
    margin-top: .2rem;
    color: green;
}

.bad-apply {
    margin-top: .2rem;
    color: red;
}

.apply-job {
    display: inline;
    background-color: var(--color-process);
    color: whitesmoke;
    padding: var(--padding-3);
    border-radius: .5rem;
    margin-left: .3rem;
    transition: all .7s ease;
}

.apply-job:hover {
    opacity: .7;
}

.category-item {
    transition: all .5s ease;
}

.category-item:hover {
    cursor: pointer;
    opacity: .5;
}

.container-worker {
    display: flex;
    align-items: center;
}

.options-works {
    margin-bottom: 1rem;
}

.page {
    background-color: white;
    padding: .4rem;
    margin-right: .5rem;
    transition: all .5s ease;
}

.page:hover {
    background-color: var(--color-active);
}

.select-category {
    background-color: var(--color-active);
    color: whitesmoke;
    padding: .3rem;
    border-radius: .5rem;
}